
 * {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #8b9296;
  color: black;
  font-size: 1.2em
}

.center {
  text-align: center;
  justify-items: middle;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: #8b9296;
  text-align: center;
}

 .container-body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 75vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-body,
footer {
  width: 85vw;
  font-size: 0.8rem;
  line-height: 1.7em;
}

 .logo {
  margin-top: 20px;
  width: 20vw;
}

 .title-image {
  width: 20vw;
  margin-top: 2em;
}

 footer {
  text-align: center;
  background-color: #F5F5F5;
  min-height: 20vh;
  position: absolute;
  bottom: 0px !important;
  padding-top: 20px;
}

.logo-icon {
  width: 3vw;
  padding-left: 20px;
  margin-top: 20px
}

a {
  text-decoration: none;
}

.title {
  margin-top: 10px;
  font-size: 18px;
}
.unsub, 
.msg {
  color: #6C6C6C;
}
.unsub ~ a {
  color: #6C6C6C;
  text-decoration: underline
}
#invoice-detail {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 70vw;
  display: grid;
  grid-template-columns: 65% auto;
  border-radius: 8px;
}
.qr-code {
  background-color: #f7fbfc;
  grid-template-rows: 65% 35%;
  display: grid;

}
.qr-code img {
  width: 20vw;
  padding: 10px;
}
.details {
  text-align: left;
  margin: 0 10px 0 10px!important;
}
.name-title {
  margin: 10px auto 15px auto!important;
  display: grid;
  grid-template-columns: auto auto ;
  padding: 9px 0px 10px 0px;
}

.total-invoice {
  text-align: left;
  padding: 20px;
  font-weight: 700;
  margin-top: 15px!important;
  background-color: #bcdcec;
  bottom: 0px !important;
  right: 0%;
}
.total-invoice, .qr-code {
  border-bottom-right-radius: 9px;
}
.qr-code {
  border-top-right-radius: 9px;
}
.pt-sm {
  padding-top: 10px;
}
.pt-lg {
  padding-top: 20px;
}
.line {
  border-bottom: 0.5px solid #bcdceced;
  top: -16px;
  position: relative;
}
.grey-text {
  color: #6C6C6C;
  font-size: small;
}
.text-end {
  text-align: end;
}
.pay-btn {
  background-color: #314367;
  color: white;
  font-size: 1.5em;
  border: none;
  width: 140px;
  height: 40px;
  position: relative;
  border-radius: 5px;
  top: 24em;
}

@media screen and (max-width: 550px) {
   .logo {
    width: 25vw;
  }
  .title-image {
    width: 25vw;
  }
  .logo-icon {
    width: 5vw;
  }
  #invoice-detail {
    background-color: white;
    position: absolute;
    top: 34%;
    display: table-footer-group!important;
    min-width: 86vw;
    display: inline-flex;
    border-radius: 8px;
  }
  .total-invoice {
    position: relative;
    box-sizing: border-box;
  }
  .qr-code {
    grid-template-columns: 50% auto;
    background-color: #f7fbfc;
    grid-template-rows: 37% 35%;
    display: grid;
}
.total-invoice {
  text-align: left;
  padding: 20px;
  font-weight: 700;
  margin-top: 0px!important;
  background-color: #c7ced1;
  bottom: 0px !important;
  right: 0%;
  height: 154px;
}
.container-body {
  background-color: #e4e4e436;
}
}

@media screen and (max-width: 800px) {
  .pay-btn {
    top: 24em;
  }
}

@media screen and (min-width: 900px) {
  .container-body, footer {
    font-size: 1.2em!important;
  }
  .title img {
    width: 70%;
  }
  .pay-btn {
    width: 6em;
    height: 2em;
    top: 15em
  }
}