body {
  margin: 0;
  padding: 0;
  background-color: #CDDBDE;
}

table {
  width: 100%;
}

table#main {
  max-width: 500px;
  border: none;
  text-align: center;
  margin: auto;
  background-color: #ffffff;
}

table#main > tfoot {
  background-color: #F5F5F5;
}

table#main > tfoot th,
table#main > tfoot td {
  padding-top: 20px;
  font-size: 0.8rem;
  line-height: 1.7em;
}

table#main > tfoot tr:last-child th,
table#main > tfoot tr:last-child td {
  padding-bottom: 20px;
}

.logo {
  margin-top: 20px;
  width: 50%;
}

.logo-icon {
  width: 3vw;
  margin: 0 5px;
}

.title-image {
  width: 10vw;
  margin-top: 2em;
}

#content {
  padding: 50px;
}

table#data-table {
  background-color: #F5F5F5;
  border: solid 1px #eeeeee;
  border-radius: 10px;
}

.button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  background-color: #eeeeee;
  color: #000000;
  text-decoration: none;
}

.button:hover {
  opacity: .9;
  border: none;
}

.button-green {
  background-color: rgba(0, 155, 0, .7);
  color: white;
}

.button-blue {
  background-color: rgba(28, 159, 182, 1);
  color: white;
}

.button-red {
  background-color: rgba(230, 0, 0, 1);
  color: white;
}

.social-logo {
  width: 3vw;
  margin: 0 5px;
}

#greeting {

}

.intro-line {

}

#button {
  padding-top: 30px;
}

#outro-line {

}

#salutation {
  padding-top: 30px;
}
